.e301_319 { 
	overflow:hidden;
}
.e301_319 { 
	background-color:rgba(146.00000649690628, 171.00000500679016, 207.00000286102295, 1);
	width:1920px;
	height:1080px;
	position:absolute;
	background-image:url(images/slide_16_9___12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_320 { 
	/* box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25); */
	color:rgba(255, 255, 255, 1);
	width:279px;
	height:72px;
	position:absolute;
	left:183px;
	top:30px;
	font-family:Moul;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e301_321 { 
	width:750px;
	height:60px;
	position:absolute;
	left:597px;
	top:36px;
}
.e301_322 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:750px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e301_322 { 
	border:1px solid rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
}
.e301_323 { 
	width:39px;
	height:39px;
	position:absolute;
	left:14px;
	top:11px;
	background-image:url(images/image_2024_11_01_114806287_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_324 { 
	background-color:rgba(255, 255, 255, 1);
	width:1837px;
	height:930px;
	position:absolute;
	left:42px;
	top:117px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e301_326 { 
	box-shadow:0px 4px 15.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(220.30574887990952, 220.30574887990952, 220.30574887990952, 1);
	width:1498px;
	height:326px;
	position:absolute;
	left:353px;
	top:1129px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
	background-image:url(images/rectangle_51.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_326 { 
	border:4px solid rgba(185.53302437067032, 185.53302437067032, 185.53302437067032, 1);
}
.e301_327 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(92.00000211596489, 107.00000122189522, 129.00000751018524, 1);
	width:451px;
	height:89px;
	position:absolute;
	left:101px;
	top:887px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_328 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_328 { 
	width:31px;
	height:19px;
	position:absolute;
	left:1734px;
	top:1389px;
}
.e301_329 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_329 { 
	width:31px;
	height:20px;
	position:absolute;
	left:1734px;
	top:1375px;
}
.e301_337 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(102.46487617492676, 80.14805808663368, 66.33288100361824, 1);
	width:1920px;
	height:78px;
	position:absolute;
	left:0px;
	top:141px;
}
.e301_340 { 
	color:rgba(255, 255, 255, 1);
	width:221px;
	height:58px;
	position:relative;
	left:851px;
	top:150px;
	font-family:Moul;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_341 { 
	color:rgba(0, 0, 0, 0.10000000149011612);
	width:153px;
	height:58px;
	position:absolute;
	left:669px;
	top:41px;
	font-family:Moul;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_342 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0%,rgba(203.88530999422073, 203.88530999422073, 203.88530999422073, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:9px;
	height:136px;
	position:absolute;
	left:400px;
	top:1200px;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.e301_345 { 
	box-shadow:0px 0px 36px rgba(0, 255, 238.00000101327896, 1);
	background-color:rgba(1.8412170885130763, 255, 246.56136721372604, 0.20000000298023224);
	width:451px;
	height:89px;
	position:absolute;
	left:101px;
	top:888px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_346 { 
	color:rgba(255, 255, 255, 1);
	width:145px;
	height:49px;
	position:absolute;
	left:259px;
	top:908px;
	font-family:Metrophobic;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e301_347 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:583px;
	top:900px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_348 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:1526px;
	top:900px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_349 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:897px;
	top:900px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_350 { 
	color:rgba(255, 255, 255, 1);
	width:123px;
	height:35px;
	position:absolute;
	left:676px;
	top:915px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_351 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:35px;
	position:absolute;
	left:981px;
	top:915px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_352 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:1212px;
	top:900px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_362 { 
	box-shadow:0px 4px 4.300000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(124.28536489605904, 124.28536489605904, 124.28536489605904, 1);
	width:13px;
	height:179px;
	position:absolute;
	left:1816px;
	top:1210px;
	border-top-left-radius:354.5px;
	border-top-right-radius:354.5px;
	border-bottom-left-radius:354.5px;
	border-bottom-right-radius:354.5px;
}
.e301_363 { 
	background-color:rgba(202.91940182447433, 202.91940182447433, 202.91940182447433, 1);
	width:13px;
	height:137px;
	position:absolute;
	left:1816px;
	top:1210px;
	border-top-left-radius:354.5px;
	border-top-right-radius:354.5px;
	border-bottom-left-radius:354.5px;
	border-bottom-right-radius:354.5px;
}
.e301_364 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:35px;
	position:absolute;
	left:1305px;
	top:915px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_365 { 
	color:rgba(255, 255, 255, 1);
	width:56px;
	height:35px;
	position:absolute;
	left:1647px;
	top:915px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_366 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:42px;
	position:absolute;
	left:105px;
	top:1152px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_367 { 
	background-color:rgba(94.73756521940231, 94.73756521940231, 94.73756521940231, 1);
	width:261px;
	height:70px;
	position:absolute;
	left:57px;
	top:1264px;
}
.e301_368 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:42px;
	position:absolute;
	left:105px;
	top:1215px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_369 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:42px;
	position:absolute;
	left:105px;
	top:1278px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_370 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:42px;
	position:absolute;
	left:105px;
	top:1341px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_371 { 
	color:rgba(0, 0, 0, 1);
	width:213px;
	height:42px;
	position:absolute;
	left:105px;
	top:1404px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_372 { 
	box-shadow:-1px 0px 0.5px rgba(0, 0, 0, 0.25);
	transform: rotate(90.00000250447808deg);
	background-color:rgba(159.07318979501724, 224.62318360805511, 255, 1);
	width:31px;
	height:31px;
	position:absolute;
	left:92px;
	top:1283px;
}
.e301_373 { 
	width:47px;
	height:47px;
	position:absolute;
	left:200px;
	top:906px;
	background-image:url(images/14931813_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_374 { 
	width:33px;
	height:33px;
	position:absolute;
	left:636px;
	top:916px;
	background-image:url(images/5957125_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_375 { 
	width:45px;
	height:45px;
	position:absolute;
	left:929px;
	top:910px;
	background-image:url(images/3867424_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_376 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1586px;
	top:909px;
	background-image:url(images/4403555_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
/* .e301_377 { 
	background-color:rgba(249.2045357823372, 249.2045357823372, 249.2045357823372, 1);
	width:120px;
	height:69px;
	position:absolute;
	left:17px;
	top:19px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
} */
.e301_378 { 
	border:3px solid rgba(146.00000649690628, 171.00000500679016, 207.00000286102295, 1);
}
.e301_378 { 
	width:60px;
	height:0px;
	position:absolute;
	left:48px; 	border:3px solid rgba(146.00000649690628, 171.00000500679016, 207.00000286102295, 1);
}
.e301_379 { 
	width:60px;
	height:0px;
	position:absolute;
	left:48px;
	top:54px;
}
.e301_380 { 
	border:3px solid rgba(146.00000649690628, 171.00000500679016, 207.00000286102295, 1);
}
.e301_380 { 
	width:60px;
	height:0px;
	position:absolute;
	left:48px;
	top:71px;
}
.e301_382 { 
	box-shadow:0px 4px 15.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(220.30574887990952, 220.30574887990952, 220.30574887990952, 1);
	width:990px;
	height:496px;
	position:relative;
	left:851px;
	top:270px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
	background-image:url(images/rectangle_81.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_382 { 
	border:4px solid rgba(185.53302437067032, 185.53302437067032, 185.53302437067032, 1);
}
.e301_383 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0%,rgba(203.88530999422073, 203.88530999422073, 203.88530999422073, 1) 100%) ;
	-webkit-background-clip:text;
	/* -webkit-text-fill-color:transparent; */
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:890px;
	height:136px;
	position:absolute;
	left:916px;
	top:450px;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.e301_385 { 
	box-shadow:0px 4px 4.300000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(124.28536489605904, 124.28536489605904, 124.28536489605904, 1);
	width:13px;
	height:346px;
	position:absolute;
	left:1808px;
	top:409px;
	border-top-left-radius:354.5px;
	border-top-right-radius:354.5px;
	border-bottom-left-radius:354.5px;
	border-bottom-right-radius:354.5px;
}
.e301_386 { 
	background-color:rgba(202.91940182447433, 202.91940182447433, 202.91940182447433, 1);
	width:13px;
	height:194px;
	position:absolute;
	left:1808px;
	top:409px;
	border-top-left-radius:354.5px;
	border-top-right-radius:354.5px;
	border-bottom-left-radius:354.5px;
	border-bottom-right-radius:354.5px;
}
.e301_388 { 
	width:611px;
	height:462px;
	position:absolute;
	left:152px;
	top:344px;
	border-top-left-radius:39px;
	border-top-right-radius:39px;
	border-bottom-left-radius:39px;
	border-bottom-right-radius:39px;
	background-image:url(images/pet_softtoy_bone2_9fe3c334b5_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_389 { 
	transform: rotate(89.83084873324862deg);
	width:48.67493438720703px;
	height:30.42183494567871px;
	position:absolute;
	left:183.421875px;
	top:530.8671875px;
}
.e301_390 { 
	transform: rotate(89.83084873324862deg);
	width:48.67493438720703px;
	height:30.42183494567871px;
	position:absolute;
	left:0px;
	top:0px;
}
.e301_391 { 
	transform: rotate(-90.1691512667514deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:48.67493438720703px;
	height:30.42183494567871px;
	position:absolute;
	left:-30.278002377251312px;
	top:48.76453522285942px;
}
.e301_392 { 
	transform: rotate(-90.1691512667514deg);
	background-color:rgba(255, 255, 255, 1);
	width:21.599502563476562px;
	height:13.081389427185059px;
	position:absolute;
	left:-20.582528926411584px;
	top:35.35100374346462px;
}
.e301_393 { 
	transform: rotate(-89.869583004984deg);
	width:48.67493438720703px;
	height:30.42183494567871px;
	position:absolute;
	left:732.53564453125px;
	top:579.544921875px;
}
.e301_394 { 
	transform: rotate(-89.869583004984deg);
	width:48.67493438720703px;
	height:30.42183494567871px;
	position:absolute;
	left:0px;
	top:0px;
}
.e301_395 { 
	transform: rotate(90.13041699501602deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:48.67493438720703px;
	height:30.42183494567871px;
	position:absolute;
	left:30.532551057833643px;
	top:-48.60556332912438px;
}
.e301_396 { 
	transform: rotate(90.13041699501602deg);
	background-color:rgba(255, 255, 255, 1);
	width:21.599502563476562px;
	height:13.081389427185059px;
	position:absolute;
	left:20.767262393297756px;
	top:-35.24253274303442px;
}
/* .e301_398 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_398 { 
	width:31px;
	height:19px;
	position:absolute;
	left:1331px;
	top:746px;
}
.e301_399 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_399 { 
	width:31px;
	height:20px;
	position:absolute;
	left:1331px;
	top:732px;
} */
.e301_401 { 
	color:rgba(0, 0, 0, 1);
	width:1005px;
	height:85px;
	position:absolute;
	left:432px;
	top:244px;
	font-family:Moul;
	text-align:center;
	font-size:34px;
	letter-spacing:0;
}
/* .e301_403 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_403 { 
	width:31px;
	height:19px;
	position:absolute;
	left:945px;
	top:1018px;
}
.e301_404 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_404 { 
	width:31px;
	height:20px;
	position:absolute;
	left:945px;
	top:1004px;
} */
.e301_733 { 
	width:119px;
	height:119px;
	position:absolute;
	left:108px;
	top:297px;
	background-image:url(images/pngtree_quality_check_certified_badge_icon_png_image_6583296_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_862 { 
	width:73px;
	height:73px;
	position:absolute;
	left:1635px;
	top:7px;
	background-image:url(images/4128335_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_863 { 
	color:rgba(255, 255, 255, 1);
	width:265px;
	height:15px;
	position:absolute;
	left:1564px;
	top:90px;
	font-family:Mitr;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
